
<!DOCTYPE html>
<html>
<body>
    <div>
    <header>
        
      <div class="navbar navbar-static-middle ">
     <a><img src="assets/images/logo.png" alt="logo image" /></a>  
     <div class="col-md-6 col-lg-7 text-center text-md-right">
        <a class="fb-ic"  href="https://www.facebook.com/"  target="_blank">
          <i class="fa fa-facebook white-text mr-4"> </i>
        </a>
        <a class="tw-ic" href="https://www.Twitter.com/"  target="_blank">
          <i class="fa fa-twitter white-text mr-4"> </i>
        </a>

        <a class="ins-ic" href="https://www.Instagram.com/"  target="_blank">
          <i class="fa fa-instagram white-text"> </i>
        </a>
      </div>   
     <a><img src="assets/images/pyramidlogo.png" alt="logo image" /></a> 
    </div>            
		</header>
    </div>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto col-sm-3 col-md-3">
            <li class="nav-item active">
              <a class="nav-link fa fa-home " href="#"> Home <span class="sr-only">(current)</span></a>
            </li>	 
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-success fa fa-google"  type="button" data-toggle="modal" data-target="#loginModal" (click)="tryGoogleLogin()"> Login with Google</button>
          </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="content row margin">
			   <div class="col-lg-5  jumbotron ">
            <h2 class="display-6">Welcome to i investo, we are here to suggest the lowest Premiums according to your needs !</h2>			  
            <hr class="my-4">
             <p >i-investo offers best Life Insurance Policy Online with Low Premiums and High Coverage. Premium of a Life Insurance Plan varies as per Age, Smoking Preferences, BMI & Sum Assured.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://www.ehealthinsurance.com/"  target="_blank"  role="button">Learn more</a>
            </p>           
        </div> 
        <div >
            <img  src="assets/images/life1.png" alt="Third slide">
          </div>              
        </div>
    </div>
</body>
</html>