
  <section id="tabs">
    <div class="container">
      <h6 class="section-title h4">Investment HelpDesk</h6>
      <div class="row">
        <div class="col-xs-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" routerLink="home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
              <a class="nav-item nav-link" id="nav-chatbot-tab" data-toggle="tab" routerLink="chat" role="tab" aria-controls="nav-profile" aria-selected="false">Chatbot</a>
              <a class="nav-item nav-link" id="nav-prediction-tab" data-toggle="tab" routerLink="prediction" role="tab" aria-controls="nav-prediction" aria-selected="false">Predication Engine</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              Welcome to the Investment helpdek system, we are here to assist you to suggest best investment plan for you.
            </div>
            <div class="tab-pane fade" id="nav-chatbot" role="tabpanel" aria-labelledby="nav-chatbot-tab">
              Welcome to the vertual assistance system, we are here to assist you to assist you for your investment related queries.
            </div>
            <div class="tab-pane fade" id="nav-prediction" role="tabpanel" aria-labelledby="nav-prediction-tab">
              Welcome to the Prediction system, we are here to assist you to assist you for your investment related queries.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
