
<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #464d4e;">
    <div class="container">
      <div class="row py-3 d-flex align-items-center">
        <div class="col-md-4 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <p class="text-white">Get connected with us on social networks!</p>
        </div>
        <div class="col-md-4 col-lg-7 text-center text-md-right">
          <a class="fb-ic"  href="https://www.facebook.com/"  target="_blank">
            <i class="fa fa-facebook white-text mr-4"> </i>
          </a>
          <a class="tw-ic" href="https://www.Twitter.com/"  target="_blank">
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>

          <a class="ins-ic" href="https://www.Instagram.com/"  target="_blank">
            <i class="fa fa-instagram white-text"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3 dark-grey-text">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">About us</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          At i investo, we operate on the core philosophy of customer centricity. We offer best insurance plans and protection products to meet different life stage requirements of our customers.</p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">i investo</a>
        </p>
        <p>
          <a class="dark-grey-text"  href="http://www.finedocs.com/" target="_blank" >Fine Docs</a>
        </p>
        <p>
          <a class="dark-grey-text" href="http://fineflow.pyramidci.com/" target="_blank" >Fine Flow</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> i investo, Pyramid</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> inquiry@iinvesto.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 0120 567 830 8303</p>       
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
   <a class="dark-grey-text" href="https://pyramidci.com/">www.pyramidci.com</a>
  </div>
</footer>
