<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-offset-0 jumbotron " >
      <div class="card" style="width: 30rem;">
        <img class="card-img-top image" [src]="user.image" alt="Card image cap" style="height: 80px;width: 80px;">
        <div *ngIf='user.provider != "password"' class="card-body">

          <h6 class="card-title">Hello {{user.name}}</h6>
          <p class="card-text txtrobo">Welcome to our vertual assistance system.</p>               
          <p class="card-text">Try our vertual iINVEST GURU for insurance related help.</p>
          <p class="card-text">This robot will answer your quiries and then it will direct you to get insurance quotes.</p>
          <p class="card-text">You can use mike to ask your question or simply  ask by typing..</p>
        
        </div>
        
      </div>

      

    </div>
    <div>
         
        <img  src="assets/images/robo.gif" class="btnrobo" routerLink="/prediction" alt="Third slide">       
  </div>  
  </div>

</div>
